@namespace Authentication.Client.Library.Components

@inherits UserIdentificationBase

<p>@email</p>

@code {
    private string email = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        email = await GetUserEmail();
        await base.OnInitializedAsync();
    }
}
