@namespace Authentication.Client.Library.Components

@inherits UserIdentificationBase

<MudBreadcrumbs Items="_items" Separator=">"></MudBreadcrumbs>

<MudCard>
    @if (ProfilViewModel is null)
    {
        <MudChip Class="pt-2 d-flex justify-content-center" Color="Color.Error">
            <p>A profil adatok megjelenítése nem lehetséges!</p>
        </MudChip>
    }
    else
    {
        <MudForm 
            Model="ProfilViewModel"
            ReadOnly="_isReadOnly"
        >
            <MudCardContent>
                <MudTextField @bind-Value="ProfilViewModel.ProfilDto.LastName"                              
                              Immediate=true
                              Required="true"
                              RequiredError="A vezetéknév szükséges!"
                              Label="Vezetéknév" />
                <MudTextField @bind-Value="ProfilViewModel.ProfilDto.FirstName"
                              Immediate=true
                              Required="true"
                              RequiredError="A keresztnév szükséges!"
                              Label="Keresztnév" />
                <MudTextField @bind-Value="ProfilViewModel.ProfilDto.Email"
                              Immediate=true
                              Required="true"
                              ReadOnly="true"
                              RequiredError="Az email cím szükséges!"
                              InputType="InputType.Email"
                              Label="Email" />
            </MudCardContent>
        </MudForm>
    }
</MudCard>
