@namespace LibraryBlazorClient.Components

<InputFile id="fileInput" OnChange="UploadImage" hidden />

<MudButton 
        Class="my-3"
        HtmlTag="label"
        Variant="Variant.Filled"
        Color="Color.Primary"
        StartIcon="Icons.Filled.CloudUpload"
        for="fileInput">
    @ButtonText
</MudButton>
@if (_imgUrl is not null && _imgUrl!=string.Empty)
{
    <div>
        <img src="@_imgUrl" style="width:300px" />
    </div>
}