<UserIdentificationComponent>
    <AuthorizeView>
        <Authorized>
            <MudLink Color="Color.Inherit" Underline="Underline.None" Class="mr-2" Href="/logout">Kijelentkezés</MudLink>
            <span>
                @if (UserIdentificationData is not null && UserIdentificationData.IsAuthenticated)
                {
                    @UserIdentificationData.UserDisplayedName
                }
            </span>
        </Authorized>
        <NotAuthorized>
            <MudLink Color="Color.Inherit" Underline="Underline.None" Class="mr-2" Href="/login">Bejelentkezés</MudLink>
            <MudLink Color="Color.Inherit" Underline="Underline.None" Href="/registration">Regisztráció</MudLink>
        </NotAuthorized>
    </AuthorizeView>
</UserIdentificationComponent>

@code {
    private UserIdentificationData? UserIdentificationData;

    [Inject] IUserIdentificaitonProvider? UserIdentificaitonProvider { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserIdentificaitonProvider is not null)
        {
            UserIdentificationData = await UserIdentificaitonProvider.GetUserIdentificationData();
        }
    }

}