@inherits UserIdentificationBase

@if (userIdentificationData is null)
{
    <p>Betöltés...</p>
}
else
{
    <CascadingValue Value="@userIdentificationData">@ChildContent</CascadingValue>
}

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await RefreshUserIdentificationDataFrom();
    }

    private async Task RefreshUserIdentificationDataFrom()
    {
        if (userIdentificationData is not null)
        {
            userIdentificationData.UserDisplayedName = await GetUserDisplayName();
            userIdentificationData.UserRole = await GetUserRole();            
        }
    }
}
