@namespace LibraryBlazorClient.Components

@if (State == UIComponentState.Loaded && HasChildContent)
{
    @ChildContent
    ;
}
else if (State == UIComponentState.Loading)
{
    @if (HasLoadingMessage)
    {
        <p>@LoadingMessage</p>
    }
    else
    {
        <p>Az adatok betöltés alatt.</p>
    }
}



@code {
    [Parameter] public RenderFragment? ChildContent { get; set; } = null;

    [Parameter] public string LoadingMessage { get; set; } = string.Empty;
    [Parameter] public UIComponentState State { get; set; } = UIComponentState.Loading;

    private bool HasChildContent => ChildContent is object;
    private bool HasLoadingMessage => LoadingMessage is object && LoadingMessage.Any();

}
