@page "/login"
@namespace Authentication.Client.Pages.Login

<div class="d-flex justify-content-center">
    <MudChip Class="pt-2" Color="Color.Primary">
        <h3>Login</h3>
    </MudChip>
</div>

<LoginComponent></LoginComponent>
